<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: 'Home' }} | {{ site.data.course.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ '/' | relative_url }}">{{ site.data.course.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.data.course.description | default: site.github.project_tagline }}</h2>
      <a href="{{ '/' | relative_url }}" class="btn{% if page.name == 'index.md' %} active{% endif %}">Home</a>
      <a href="{{ '/syllabus' | relative_url }}" class="btn{% if page.name == 'syllabus.md' %} active{% endif %}">Syllabus</a>
      <a href="{{ site.data.course.discussions }}" class="btn">Discussions</a>
    </section>
    <section class="main-content">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          {{ site.title }} by <a href="{{ site.data.course.instructor.home }}">{{ site.data.course.instructor.name }}</a>
          <a href="https://twitter.com/{{ site.data.course.instructor.twitter }}">@{{ site.data.course.instructor.twitter }}</a>
        </span>
      </footer>
    </section>
  </body>
</html>
