<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: 'Home' }} | {{ site.data.course.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="author" content="{{ site.data.course.instructor.name }}">
    <meta name="description" content="{{ site.data.course.description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:title" content="{{ page.title | default: 'Home' }} | {{ site.data.course.title }}">
    <meta name="og:description" content="{{ site.data.course.description }}">
    <meta name="og:url" content="{{ page.url | absolute_url }}">
    <meta name="og:site_name" content="{{ site.data.course.title }}">
    {%- if site.data.course.banner %}
    <meta name="og:image" content="{{ site.data.course.banner | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    {%- else %}
    <meta name="og:image" content="{{ site.data.course.instructor.avatar | absolute_url }}">
    <meta name="twitter:card" content="summary">
    {%- endif %}
    <meta name="twitter:site" content="@{{ site.data.course.instructor.twitter }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ page.url | absolute_url }}",
        "name": "{{ site.data.course.title }}",
        "headline": "{{ page.title | default: 'Home' }} | {{ site.data.course.title }}",
        "description": "{{ site.data.course.description }}"
      }
    </script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ '/' | relative_url }}">{{ site.data.course.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.data.course.description | default: site.github.project_tagline }}</h2>
      {%- for nav in site.navigation %}
      {%- assign url_parts = page.url | split: "/" %}
      {%- assign href_parts = nav.href | split: "/" %}
      <a href="{{ nav.href | relative_url }}" class="btn{% if url_parts[1] == href_parts[1] %} active{% endif %}">{{ nav.title }}</a>
      {%- endfor %}
    </section>
    <section class="main-content">
      {%- if page.title %}
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      {%- endif %}

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          <a href="{{ site.data.course.homepage }}">{{ site.data.course.title }}, {{ site.data.course.semester }}</a><br>
          <a href="{{ site.data.course.department.url }}">{{ site.data.course.department.name }}</a>, <a href="{{ site.data.course.university.url }}">{{ site.data.course.university.name }}</a><br>
          by <a href="{{ site.data.course.instructor.url }}">{{ site.data.course.instructor.name }}</a> | <a href="https://twitter.com/{{ site.data.course.instructor.twitter }}">@{{ site.data.course.instructor.twitter }}</a></a><br>
          {%- if site.github.repository_url %}
          <a href="{{ site.github.repository_url }}">Course Site Repository</a>
          {%- endif %}
        </span>
      </footer>
    </section>
  </body>
</html>
